<link rel="stylesheet" href="/css/welcome.css" type="text/css">

<div class="d-flex text-center text-white bg-dark" id="backGround">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <main class="px-3" id="main">
            <h1 id="mainPage">DU ON Track for YOU</h1>
            {{!-- <img
                src="https://images.unsplash.com/photo-1599408169542-620fc453382c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGVudmVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                --}} {{!-- class="img-fluid" alt="Responsive image"> --}}
            <p class="lead" id="desc">Welcome to the future of tracking your education with DU ON Track for YOU.</p>
            <p class="lead">
                <a href="/members" class="btn btn-lg btn-secondary fw-bold border-white bg-white" id="enter">Enter
                </a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p> -->
        </footer>
    </div>
    <!-- Start of ChatBot (www.chatbot.com) code -->
    <script type="text/javascript">
        window.__be = window.__be || {};
        window.__be.id = "60090f6582c07200078a83a6";
        (function () {
            var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
            be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
        })();
    </script>
    <!-- End of ChatBot code -->
</div>