<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
        <h1>DU ON Track for YOU</h1>
        <img src="https://images.unsplash.com/photo-1599408169542-620fc453382c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGVudmVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
            class="img-fluid" alt="Responsive image">
        <p class="lead">Welcome to the future of tracking your education with DU ON Track for YOU.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Enter
            </a>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                    href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p> -->
    </footer>
</div>