<link rel="stylesheet" href="/css/signUp.css" type="text/css">

<div class="d-flex text-center text-white bg-dark" id="denver">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column" id="forms">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign Up Form</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-light btn-lg" id="submit">Sign Up</button>
            </form>
        </div>

        <br>


        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-light btn-lg" id="submit">Login</button>
            </form>
        </div>
        </ddi>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/signup.js"></script>
        <!-- Start of ChatBot (www.chatbot.com) code -->
        <script type="text/javascript">
            window.__be = window.__be || {};
            window.__be.id = "60090f6582c07200078a83a6";
            (function () {
                var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
                be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
            })();
        </script>
    </div>