<link rel="stylesheet" href="/css/view.css" type="text/css">

<div class="all">
    <main>
        <h1 class="app-title">OnTrack</h1>

        <div class="logo-box">
            <img src="/img/university-of-denver-vector-logo.png" class="du-logo">




        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="sub-title">Your Degree:</h6>
                </div>
                <div class="col">
                    <h6 class="sub-title">Business Analytics</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6 class="sub-title">Classes Needed</h6>
                    <div class="card-section">

                    </div>
                </div>
                <div class="col">
                    <h6 class="sub-title">Completed Classes
                    </h6>
                    <div class="card-section">

                    </div>
                    {{!-- <div class="col">
                        <h6 class="sub-title">Completed Classes</h6>
                        <div class="card-section">

                        </div> --}}
                    </div>
                </div>
            </div>

            <div class="footer">

                <ul class="menu align-center">


                    <li><a href="../app/assets/business-analytics-bachelors-degree-plan-2020-2021.pdf" target="blank"
                            style="color: black;">Business Analytics</a></li>
                    <li><a href="/logout" style="color: black;">SignOut</a></li>
                </ul>

            </div>
    </main>






</div>